<a href="https://colab.research.google.com/github/0xD4rky/Test/blob/main/Convolve_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/TrainingDataBank.csv')

<ipython-input-187-d69168735915>:1: DtypeWarning: Columns (5,18,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/TrainingDataBank.csv')

In [ ]:
unique_value_counts_df_main = df.nunique()
columns_with_nunique_1 = unique_value_counts_df_main[unique_value_counts_df_main == 1].index.tolist()
# List of columns to be removed
columns_to_remove = ['demog_7', 'demog_10', 'demog_12', 'txn_35', 'txn_36', 'txn_49', 'txn_50', 'txn_65', 'txn_70', 'txn_71', 'txn_72', 'demog_38','others_42','others_43','others_44','others_45']

# Remove columns from the original DataFrame
df = df.drop(columns=columns_to_remove)

In [ ]:
df = df.dropna(subset=['occupation'])
# Resetting the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.loc[98383, 'income'] = '100001 to 5L'

In [ ]:
def find_rows_with_missing_values(df, column_name):
    rows_with_missing_values = df[df[column_name].isna()]
    return rows_with_missing_values.index

In [ ]:
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame
# Create an instance of SimpleImputer with strategy='most_frequent'
imputer = SimpleImputer(strategy='most_frequent')

# Fit and transform the 'country_code' column
df['country_code'] = imputer.fit_transform(df[['country_code']])

# If you have multiple columns with missing values, you can use the following
# df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [ ]:
column_names = df.columns.tolist()

In [ ]:
demog_prefix = 'demog_'
txn_prefix = 'txn_'
others_prefix = 'others_'

# Identify columns with demographic attributes
demog_columns = [col for col in df.columns if col.startswith(demog_prefix)]
df_demog = df[demog_columns]

# Identify columns with transaction attributes
txn_columns = [col for col in df.columns if col.startswith(txn_prefix)]
df_tx = df[txn_columns]

# Identify columns with other attributes
others_columns = [col for col in df.columns if col.startswith(others_prefix)]
df_others = df[others_columns]

df_object = df.select_dtypes(include=['object'])

# Making column list of all different dataframes
df_tx_column_names_list = df_tx.columns.tolist()
df_demog_column_names_list = df_demog.columns.tolist()
df_others_column_names_list = df_others.columns.tolist()
column_names_of_df_object = df_object.columns.tolist()

In [ ]:
x = find_rows_with_missing_values(df,'txn_1').tolist()
tx_missing_rows_rows = ['txn_1']
count = 0
for i in range(1,73):
  if (find_rows_with_missing_values(df,df_tx_column_names_list[i]).tolist()==x):
    tx_missing_rows_rows.append(df_tx_column_names_list[i])
    count = count + 1
  x = find_rows_with_missing_values(df,df_tx_column_names_list[i]).tolist()

In [ ]:
def analyze_column(df, column_name):
    # Value counts for the entire DataFrame
    value_counts_full = df[column_name].value_counts()

    # Value counts for the last 2000 rows
    value_counts_last_2000 = df.tail(2000)[column_name].value_counts()

    # Null values for the entire DataFrame
    null_values_full = df[column_name].isnull().sum()

    # Null values for the last 2000 rows
    null_values_last_2000 = df.tail(2000)[column_name].isnull().sum()

    return value_counts_full, value_counts_last_2000, null_values_full, null_values_last_2000

In [ ]:
df['os'] = df['os'].fillna('and')
df.loc[:, 'demog_13'] = df['demog_13'].fillna(True).astype(bool)
df.loc[:, 'demog_14'] = df['demog_14'].fillna(False).astype(bool)
df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)
df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)

<ipython-input-197-a454bc6e1cae>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_13'] = df['demog_13'].fillna(True).astype(bool)
<ipython-input-197-a454bc6e1cae>:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_14'] = df['demog_14'].fillna(False).astype(bool)
<ipython-input-197-a454bc6e1cae>:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)
<ipython-input-197-a454bc6e1cae>:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)

In [ ]:
target_counts = df['Target'].value_counts()
target_counts

0    97998
1     2000
Name: Target, dtype: int64

In [ ]:
unique_value_counts = df_tx.nunique()

In [ ]:
unique_value_counts

txn_1      63
txn_2      88
txn_3      50
txn_4      74
txn_5     303
         ...
txn_77     90
txn_78     30
txn_79     90
txn_80    799
txn_81    344
Length: 73, dtype: int64

In [ ]:
distinct_values_counts_details = df_tx.apply(lambda x: pd.Series({'Distinct Values': x.value_counts().index.tolist(), 'Count': x.value_counts().tolist()})).T

In [ ]:
distinct_values_counts_details

,Distinct Values,Count
txn_1,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[71522, 1560, 487, 198, 90, 59, 41, 35, 25, 24..."
txn_2,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[69577, 1789, 1006, 637, 297, 174, 124, 94, 73..."
txn_3,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0, 7.0, ...","[69766, 2632, 832, 467, 184, 91, 40, 30, 25, 2..."
txn_4,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9.0, 7.0, ...","[66219, 3550, 1365, 1114, 493, 282, 191, 178, ..."
txn_5,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[67472, 2145, 1302, 732, 470, 350, 234, 196, 1..."
...,...,...
txn_77,"[0.0, 2.0, 3.0, 4.0, 16.0, 80.0, 45.0, 9.0, 5....","[11869, 4553, 2855, 2281, 2185, 2014, 1449, 11..."
txn_78,"[4.0, 0.0, 2.0, 3.0, 1.0, 7.0, 16.0, 5.0, 17.0...","[22455, 7428, 3978, 3230, 371, 332, 302, 282, ..."
txn_79,"[4.0, 0.0, 2.0, 3.0, 35.0, 65.0, 1.0, 7.0, 16....","[22455, 7428, 3978, 3230, 2108, 1898, 371, 332..."
txn_80,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...","[8515, 5162, 3568, 2591, 2029, 1760, 1410, 131..."
txn_81,"[9.0, 3.0, 6.0, 1.0, 2.0, 4.0, 10.0, 12.0, 7.0...","[4505, 3088, 2992, 2990, 2376, 2127, 1370, 136..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99998 entries, 0 to 99997
Columns: 162 entries, Primary key to demog_43
dtypes: bool(4), float64(122), int64(18), object(18)
memory usage: 120.9+ MB

In [ ]:
data_types = df.dtypes

In [ ]:
data_types.value_counts()

float64    122
int64       18
object      18
bool         4
dtype: int64

In [ ]:
df_object = df.select_dtypes(include=['object'])

# Print or use the new DataFrame
print("New DataFrame with 'object' Data Type Columns:")
df_object

New DataFrame with 'object' Data Type Columns:

,account_opening_date,country_code,demog_2,income,city_tier,occupation,demog_4,demog_9,demog_17,demog_18,demog_19,demog_20,demog_21,demog_22,os,email_domain,demog_40,demog_43
0,2/18/2023,IN,3.0,100001 to 5L,Rural,Self_Employed,N,False,True,False,True,True,False,Y,ios,gmail,low,medium
1,2/1/2023,IN,1.0,0 to 1L,Tier 1,Salaried,N,True,True,False,True,True,True,Y,and,gmail,High,High
2,12/9/2022,IN,3.0,0 to 1L,Tier 2,Self_Employed,N,False,True,False,True,False,False,Y,and,gmail,medium,High
3,3/31/2023,IN,3.0,100001 to 5L,Tier 7,Self_Employed,N,NaN,True,False,True,False,False,Y,and,gmail,High,High
4,1/17/2023,IN,6.0,0 to 1L,Tier 1,Student,N,False,True,False,True,False,False,Y,and,gmail,low,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,12/21/2022,IN,2,0 to 1L,Rural,Self_Employed,N,False,True,False,True,False,False,Y,and,gmail,High,High
99994,3/17/2023,IN,6,100001 to 5L,Rural,Student,N,NaN,True,False,True,True,False,Y,and,gmail,low,medium
99995,12/8/2022,IN,1,100001 to 5L,Tier 6,Salaried,N,False,True,False,True,False,False,Y,and,gmail,High,medium
99996,3/3/2023,IN,1,5L to 10L,Tier 1,Other,N,NaN,True,False,True,False,False,Y,ios,gmail,High,High
99997,2/3/2023,IN,2,5L to 10L,Tier 7,Self_Employed,N,NaN,True,False,True,False,False,Y,and,gmail,medium,medium

In [ ]:
column_names_of_df_object = df_object.columns.tolist()

In [ ]:
column_names_of_df_object

['account_opening_date',
 'country_code',
 'demog_2',
 'income',
 'city_tier',
 'occupation',
 'demog_4',
 'demog_9',
 'demog_13',
 'demog_14',
 'demog_15',
 'demog_16',
 'demog_17',
 'demog_18',
 'demog_19',
 'demog_20',
 'demog_21',
 'demog_22',
 'os',
 'email_domain',
 'demog_40',
 'demog_43']

In [ ]:
df['city_tier'].value_counts()

Tier 1    25680
Rural     19423
Tier 8    12078
Tier 7    10389
Tier 6     8977
Tier 3     6326
Tier 5     5629
Tier 2     4944
Tier 4     2304
Name: city_tier, dtype: int64

In [ ]:
df['demog_2'].value_counts()

1.0     36791
3.0     14691
2.0     11834
6.0      9120
1        5217
7.0      4802
4.0      4769
3        2004
2        1633
6        1274
5.0       940
10.0      916
7         691
4         655
11.0      427
17.0      202
10        142
5         124
11         55
17         23
15.0       10
9.0         7
ZZ          3
16.0        2
Name: demog_2, dtype: int64

In [ ]:
df.iloc[:, 5].value_counts() #mixed data type

1.0     36791
3.0     14691
2.0     11834
6.0      9120
1        5217
7.0      4802
4.0      4769
3        2004
2        1633
6        1274
5.0       940
10.0      916
7         691
4         655
11.0      427
17.0      202
10        142
5         124
11         55
17         23
15.0       10
9.0         7
ZZ          3
16.0        2
Name: demog_2, dtype: int64

In [ ]:
df.isnull().mean()*100

Primary key             0.000
Target                  0.000
account_opening_date    0.000
country_code            3.666
demog_1                 3.669
                        ...
email_domain            0.000
demog_40                3.813
demog_41                0.000
demog_42                0.000
demog_43                3.705
Length: 162, dtype: float64

In [ ]:
unique_value_counts_df_main = pd.DataFrame(df.nunique())

In [ ]:
unique_value_counts_df_main

                           0
Primary key           100000
Target                     2
account_opening_date     121
country_code              49
demog_1                   16
...                      ...
email_domain              10
demog_40                   3
demog_41                   2
demog_42                   2
demog_43                   3

[162 rows x 1 columns]

In [ ]:
df_demog.isnull().mean()*100

demog_1      3.669
demog_2      3.668
demog_3      0.006
demog_4      8.841
demog_5      0.025
demog_6      0.001
demog_8      3.751
demog_9     12.914
demog_11     0.001
demog_13     3.016
demog_14     3.016
demog_15     3.016
demog_16     3.016
demog_17     0.001
demog_18     0.001
demog_19     0.001
demog_20     0.001
demog_21     0.001
demog_22     0.001
demog_23     0.001
demog_24     0.294
demog_25     0.001
demog_26     0.294
demog_27     0.001
demog_28     0.001
demog_29     0.001
demog_30     0.003
demog_31     0.003
demog_32     0.003
demog_33     0.003
demog_34     0.003
demog_35     0.003
demog_36     0.003
demog_37     0.003
demog_39     0.000
demog_40     3.813
demog_41     0.000
demog_42     0.000
demog_43     3.705
dtype: float64

In [ ]:
pd.DataFrame(df_tx.isnull().mean()*100).tail(55)

             0
txn_19  25.794
txn_20  25.794
txn_21  25.794
txn_22  25.794
txn_23  25.794
txn_24  25.794
txn_25  25.794
txn_26  25.794
txn_27  25.794
txn_28  25.794
txn_29  25.794
txn_30  25.794
txn_31  25.794
txn_32  25.794
txn_33  25.794
txn_34  25.794
txn_37  25.794
txn_38  25.794
txn_39  25.794
txn_40  25.794
txn_41  25.794
txn_42  25.794
txn_43  25.794
txn_44  25.794
txn_45  25.794
txn_46  25.794
txn_47  25.794
txn_48  25.794
txn_51  25.794
txn_52  25.794
txn_53  25.794
txn_54  25.794
txn_55  25.794
txn_56  25.794
txn_57  25.794
txn_58  25.794
txn_59  25.794
txn_60  25.794
txn_61  25.794
txn_62  25.794
txn_63  25.794
txn_64  25.794
txn_66  25.794
txn_67  25.794
txn_68  25.794
txn_69  25.794
txn_73  25.794
txn_74  25.794
txn_75  25.794
txn_76  25.794
txn_77  45.424
txn_78  56.728
txn_79  44.956
txn_80  57.478
txn_81  51.465

In [ ]:
df_others.isnull().mean()*100

others_1      0.000
others_2      0.000
others_3      0.001
others_4      0.001
others_5     16.818
others_6      0.003
others_7      0.003
others_8      0.003
others_9      0.003
others_10     0.003
others_11     0.003
others_12     0.000
others_13     0.000
others_14     0.000
others_15    41.365
others_16    41.365
others_17    41.365
others_18     0.000
others_19     0.001
others_20     0.001
others_21    17.287
others_22    17.287
others_23    17.287
others_24    17.287
others_25    17.287
others_26    17.287
others_27     0.009
others_28     0.009
others_29     0.001
others_30     0.001
others_31     0.001
others_32     0.001
others_33     0.000
others_34     0.000
others_35     0.000
others_36     0.000
others_37     0.000
others_38     0.000
others_39     0.000
others_40     0.001
others_41     0.001
dtype: float64

In [ ]:
df_object.isnull().mean()*100

account_opening_date     0.000
country_code             3.666
demog_2                  3.668
income                   0.006
city_tier                4.250
occupation               0.002
demog_4                  8.841
demog_9                 12.914
demog_13                 3.016
demog_14                 3.016
demog_15                 3.016
demog_16                 3.016
demog_17                 0.001
demog_18                 0.001
demog_19                 0.001
demog_20                 0.001
demog_21                 0.001
demog_22                 0.001
os                      24.604
email_domain             0.000
demog_40                 3.813
demog_43                 3.705
dtype: float64

In [ ]:
df_demog.nunique()

demog_1        16
demog_2        24
demog_3         8
demog_4         7
demog_5         4
demog_6         4
demog_8         3
demog_9         2
demog_11        2
demog_13        2
demog_14        2
demog_15        2
demog_16        2
demog_17        2
demog_18        2
demog_19        2
demog_20        2
demog_21        2
demog_22        2
demog_23     1457
demog_24    14975
demog_25        2
demog_26       95
demog_27        2
demog_28        2
demog_29        2
demog_30        2
demog_31        2
demog_32        2
demog_33        2
demog_34        2
demog_35        2
demog_36        2
demog_37        2
demog_39        2
demog_40        3
demog_41        2
demog_42        2
demog_43        3
dtype: int64

In [ ]:
df_tx.nunique()

txn_1      63
txn_2      88
txn_3      50
txn_4      74
txn_5     303
         ...
txn_77     90
txn_78     30
txn_79     90
txn_80    799
txn_81    344
Length: 73, dtype: int64

In [ ]:
df_others.nunique()

others_1        2
others_2        2
others_3        2
others_4        2
others_5        2
others_6      951
others_7      299
others_8       31
others_9     2169
others_10     291
others_11      62
others_12     811
others_13     399
others_14       6
others_15     582
others_16     407
others_17       6
others_18       6
others_19       2
others_20       2
others_21     386
others_22     629
others_23     222
others_24     281
others_25     459
others_26     665
others_27     223
others_28     308
others_29       2
others_30       2
others_31       2
others_32       2
others_33       2
others_34       2
others_35       2
others_36       2
others_37       2
others_38       2
others_39       2
others_40       2
others_41       2
dtype: int64

In [ ]:
df_object.nunique()

account_opening_date    121
country_code             49
demog_2                  24
income                   12
city_tier                 9
occupation                8
demog_4                   7
demog_9                   2
demog_13                  2
demog_14                  2
demog_15                  2
demog_16                  2
demog_17                  2
demog_18                  2
demog_19                  2
demog_20                  2
demog_21                  2
demog_22                  2
os                        2
email_domain             10
demog_40                  3
demog_43                  3
dtype: int64

In [ ]:
df_muse = df.tail(2000)

In [ ]:
def find_rows_with_missing_values(df, column_name):
    rows_with_missing_values = df[df[column_name].isna()]
    return rows_with_missing_values.index
df_tx_column_names_list = df_tx.columns.tolist()
df_demog_column_names_list = df_demog.columns.tolist()
df_others_column_names_list = df_others.columns.tolist()
df_object_column_names_list = df_object.columns.tolist()

In [ ]:
df_tx_column_names_list = df_tx.columns.tolist()

In [ ]:
df_demog_column_names_list = df_demog.columns.tolist()

In [ ]:
df_others_column_names_list = df_others.columns.tolist()

In [ ]:
find_rows_with_missing_values(df,'txn_1')

Int64Index([    6,    10,    18,    27,    31,    34,    37,    40,    49,
               53,
            ...
            99845, 99874, 99882, 99907, 99911, 99962, 99971, 99980, 99981,
            99987],
           dtype='int64', length=25794)

In [ ]:
x = find_rows_with_missing_values(df,'txn_1').tolist()
tx_missing_rows_rows = ['txn_1']
count = 0
for i in range(1,73):
  if (find_rows_with_missing_values(df,df_tx_column_names_list[i]).tolist()==x):
    tx_missing_rows_rows.append(df_tx_column_names_list[i])
    count = count + 1
  x = find_rows_with_missing_values(df,df_tx_column_names_list[i]).tolist()

In [ ]:
x = find_rows_with_missing_values(df,'txn_1').tolist()

In [ ]:
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame
# Create an instance of SimpleImputer with strategy='most_frequent'
imputer = SimpleImputer(strategy='most_frequent')

# Fit and transform the 'country_code' column
df['country_code'] = imputer.fit_transform(df[['country_code']])

# If you have multiple columns with missing values, you can use the following
# df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [ ]:
df['income'].value_counts()

100001 to 5L          48612
0 to 1L               32783
5L to 10L              9201
0                      3816
10L to 25L             3687
25L to 50L             1162
50L to 3Crore           686
3Crore to 5Crore         37
5Crore to 10Crore         6
20Crore to 35Crore        2
10Crore to 15Crore        1
15Crore to 20Crore        1
Name: income, dtype: int64

In [ ]:
df.tail(2000)['income'].value_counts()

100001 to 5L        1080
0 to 1L              647
5L to 10L            177
10L to 25L            60
25L to 50L            21
50L to 3Crore         13
3Crore to 5Crore       1
Name: income, dtype: int64

In [ ]:
df['city_tier'].value_counts()

Tier 1    25680
Rural     19423
Tier 8    12078
Tier 7    10389
Tier 6     8977
Tier 3     6326
Tier 5     5629
Tier 2     4944
Tier 4     2304
Name: city_tier, dtype: int64

In [ ]:
df.tail(2000)['city_tier'].value_counts()

Rural     538
Tier 1    354
Tier 8    274
Tier 6    211
Tier 7    209
Tier 2    127
Tier 3    126
Tier 5     96
Tier 4     64
Name: city_tier, dtype: int64

In [ ]:
df['occupation'].value_counts()

Self_Employed    29914
Salaried         27230
Other            25372
Student          10444
Homemaker         5467
Retired           1093
Minor              426
Unemployed          52
Name: occupation, dtype: int64

In [ ]:
df.tail(2000)['occupation'].isnull().sum()

0

In [ ]:
df[df['income'].isnull()].tail(2000)

,Primary key,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,...,others_40,others_41,txn_80,txn_81,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43
6850,6851,0,12/13/2022,IN,55.0,1.0,NaN,NaN,Tier 7,Salaried,...,0.0,0.0,2.0,11.0,0,idfc,low,0,1,medium
58193,58196,0,1/19/2023,IN,55.0,1,NaN,NaN,Tier 2,Salaried,...,0.0,0.0,NaN,13.0,0,gmail,medium,0,1,medium
72283,72286,0,12/31/2022,IN,401.0,1.0,NaN,NaN,Tier 5,Salaried,...,1.0,1.0,6.0,5.0,0,gmail,medium,0,1,High
98383,98386,1,12/6/2022,IN,55.0,6,NaN,NaN,Tier 2,Student,...,0.0,0.0,22.0,31.0,0,gmail,High,0,1,High

In [ ]:
df.loc[98383, 'income'] = '100001 to 5L'

In [ ]:
df['demog_4'].value_counts()

N    90142
6      455
5      404
7      114
2       28
1       15
3        1
Name: demog_4, dtype: int64

In [ ]:
df['demog_9'].value_counts()

False    58685
True     28399
Name: demog_9, dtype: int64

In [ ]:
df['demog_13'].value_counts()

True     92221
False     4763
Name: demog_13, dtype: int64

In [ ]:
df.tail(2000)['demog_13'].value_counts()

True     1762
False     233
Name: demog_13, dtype: int64

In [ ]:
df.tail(2000)

,Primary key,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,...,others_40,others_41,txn_80,txn_81,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43
97998,98001,1,2/22/2023,IN,55.0,7.0,0 to 1L,101.0,Rural,Other,...,0.0,0.0,17.0,13.0,1,gmail,High,1,1,High
97999,98002,1,1/4/2023,IN,51.0,1.0,100001 to 5L,101.0,Tier 1,Other,...,0.0,0.0,5.0,NaN,1,gmail,medium,1,1,medium
98000,98003,1,1/30/2023,IN,55.0,1.0,100001 to 5L,101.0,Tier 1,Other,...,0.0,0.0,25.0,13.0,1,gmail,medium,1,1,medium
98001,98004,1,2/17/2023,IN,55.0,4.0,100001 to 5L,101.0,Tier 1,Homemaker,...,0.0,0.0,239.0,22.0,1,gmail,low,1,1,medium
98002,98005,1,1/1/2023,IN,53.0,3.0,100001 to 5L,101.0,Tier 6,Self_Employed,...,0.0,0.0,47.0,77.0,1,gmail,medium,1,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,99996,1,12/21/2022,IN,55.0,2,0 to 1L,101.0,Rural,Self_Employed,...,0.0,0.0,15.0,4.0,1,gmail,High,1,1,High
99994,99997,1,3/17/2023,IN,55.0,6,100001 to 5L,101.0,Rural,Student,...,0.0,0.0,2586.0,NaN,1,gmail,low,1,1,medium
99995,99998,1,12/8/2022,IN,55.0,1,100001 to 5L,101.0,Tier 6,Salaried,...,0.0,0.0,17.0,13.0,1,gmail,High,1,1,medium
99996,99999,1,3/3/2023,IN,55.0,1,5L to 10L,101.0,Tier 1,Other,...,0.0,0.0,13.0,62.0,1,gmail,High,1,1,High
99997,100000,1,2/3/2023,IN,401.0,2,5L to 10L,101.0,Tier 7,Self_Employed,...,0.0,0.0,119.0,32.0,1,gmail,medium,1,1,medium

In [ ]:
def analyze_column(df, column_name):
    # Value counts for the entire DataFrame
    value_counts_full = df[column_name].value_counts()

    # Value counts for the last 2000 rows
    value_counts_last_2000 = df.tail(2000)[column_name].value_counts()

    # Null values for the entire DataFrame
    null_values_full = df[column_name].isnull().sum()

    # Null values for the last 2000 rows
    null_values_last_2000 = df.tail(2000)[column_name].isnull().sum()

    return value_counts_full, value_counts_last_2000, null_values_full, null_values_last_2000

In [ ]:
analyze_column(df,'demog_13')

(True     92221
 False     4763
 Name: demog_13, dtype: int64,
 True     1762
 False     233
 Name: demog_13, dtype: int64,
 3014,
 5)

In [ ]:
analyze_column(df,'demog_14')

(False    96821
 True       163
 Name: demog_14, dtype: int64,
 False    1994
 True        1
 Name: demog_14, dtype: int64,
 3014,
 5)

In [ ]:
analyze_column(df,'demog_15')

(True     75824
 False    21160
 Name: demog_15, dtype: int64,
 True     1556
 False     439
 Name: demog_15, dtype: int64,
 3014,
 5)

In [ ]:
analyze_column(df,'demog_16')

(True     96328
 False      656
 Name: demog_16, dtype: int64,
 True     1982
 False      13
 Name: demog_16, dtype: int64,
 3014,
 5)

In [ ]:
analyze_column(df,'os')

(and    68438
 ios     6957
 Name: os, dtype: int64,
 and    1758
 ios      58
 Name: os, dtype: int64,
 24603,
 184)

In [ ]:
df['os'] = df['os'].fillna('and')
df.loc[:, 'demog_13'] = df['demog_13'].fillna(True).astype(bool)
df.loc[:, 'demog_14'] = df['demog_14'].fillna(False).astype(bool)
df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)
df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)

<ipython-input-163-ce37cbc43678>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['os'] = df['os'].fillna('and')

In [ ]:
df.loc[:, 'demog_13'] = df['demog_13'].fillna(True).astype(bool)

<ipython-input-171-b03b6b154956>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'demog_13'] = df['demog_13'].fillna(True).astype(bool)

In [ ]:
df.loc[:, 'demog_14'] = df['demog_14'].fillna(False).astype(bool)

<ipython-input-172-d059fdf65fe6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'demog_14'] = df['demog_14'].fillna(False).astype(bool)

In [ ]:
df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)

<ipython-input-173-2aa0b8d3d49c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)
<ipython-input-173-2aa0b8d3d49c>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_15'] = df['demog_15'].fillna(True).astype(bool)

In [ ]:
df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)

<ipython-input-174-73597238824f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)
<ipython-input-174-73597238824f>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'demog_16'] = df['demog_16'].fillna(True).astype(bool)

In [ ]:
analyze_column(df,'demog_17')

(True     92221
 False     7777
 Name: demog_17, dtype: int64,
 True     1762
 False     238
 Name: demog_17, dtype: int64,
 0,
 0)

In [ ]:
df_object.isnull().sum()

account_opening_date        0
country_code             3666
demog_2                  3668
income                      6
city_tier                4250
occupation                  2
demog_4                  8841
demog_9                 12914
demog_13                 3016
demog_14                 3016
demog_15                 3016
demog_16                 3016
demog_17                    1
demog_18                    1
demog_19                    1
demog_20                    1
demog_21                    1
demog_22                    1
os                      24604
email_domain                0
demog_40                 3813
demog_43                 3705
dtype: int64